.body {
    font-family: Georgia, serif;
    font-size: 20px;
}

.base {
    background-color: #eeeeee;
    width: 960px;
    margin: auto;
}

.bloco1 {
    background-color: orange;
    width: 200px;
    float: left;
}

.bloco2 {
    background-color: green;
    width: 500px;
    float: left;
}

.bloco3 {
    background-color: red;
    margin-left: 700px;
}